*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #cbedfa;
	font-family: Arial,sans-serif,helvetica;
}

form{
	width: 40%;
	height: 100%;
	min-width: 250px;
	max-width: 350px;
	margin: 10% auto 0 auto;
	padding: 10px;
}

input, .title, textarea,select{
	padding: 10px 15px;
	margin: 0 0 5px 0;
	border:none;
	color: #63b0eb !important;
	border-radius: 5px;
	width: 100%;
}

textarea{
	resize:none;
	min-height: 100px;
}

input{
	background-color: rgba(255,255,255,0.6);
}

.title{
	font-size: 150%;
	text-align: center;
	color: #FFFFFF !important;
	background-color: #63b0eb;
	margin-bottom: 4px;
}

button, .button{
	width: 100%;
	padding: 8px;
	background-color: #63b0eb;
	border: 0px;
	color: white;
	font-size: 120%;
}

.formSlider{
	margin: 2px 0 4px 0;
	font-size: 75%;
	text-align: center;
}

iframe{
	width: 100%;
	border: none;
}

.charCounter{
	font-size: 65%;
	color:black;
	position: relative;
	margin: -25px 5px 10px 0;
	text-align: right;
}

.hidden{
	display: none;
}

.warning{
	background-color: #e85d5d;
	color: white;
}